#Helvetica {
    font-family: Helvetica;
}

#Arial {
    font-family: Arial;
}

#Serif {
    font-family: serif;
}

#Sans-serif {
    font-family: sans-serif;
}

#Monospace {
    font-family: monospace;
}

#Cursive {
    font-family: cursive;
}

#Fantasy {
    font-family: fantasy;
}