body {
    background-color: rgb(86, 138, 235);
    color: white;
}

#color {
    color: rgb(255, 114, 65);
}

#font-size {
    font-size: 3rem;
}

#font-weight {
    font-weight: bold;
}

#font-family {
    font-family: cursive;
}

#text-align {
    text-align: right;
}